target/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store
*.DS_Store
**/.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.jar
.mvn

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.DS_Store
