<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
</head>
<body>
	<div class="panel panel-default panel-bg">
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="container-fluid">
								<h3>用户登录</h3>
								<form method="post">
									<fieldset>
									   <div th:if="${param.error}">
									       <div class="alert alert-danger">
			                                  用户没有激活或者密码错误。
		                                    </div>
		                                </div>
		                                <div th:if="${param.logout}"> 
                                            <div class="alert alert-info">
	                                           你已经登出。
                                            </div>
		                                </div>
										<div class="form-group">
											<input name="username" id="username" type="text" class="form-control" autofocus="autofocus" placeholder="用户名或Email"/>
										</div>
										<div class="form-group">
											<input name="password" id="password" type="password" class="form-control" placeholder="密码"/>
										</div>
                                         <input class="btn btn-success" type="submit" value="登录" />
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">消息</div>
						<div class="panel-body">消息内容</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">消息</div>
						<div class="panel-body">消息内容</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>