<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
</head>
<body>
    <div class="panel panel-default panel-bg">
        <div th:replace="fragments/header :: header"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="container-fluid">
                                Registration Confirm
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">消息</div>
                        <div class="panel-body">消息内容</div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">消息</div>
                        <div class="panel-body">消息内容</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>